.gradient {
    background: #000000;
    background: linear-gradient(to bottom, #000000, #040421);
    height: 100%;
}
.black {
    background: #000000;
}
body {
    margin: 0;
    padding: 0;
}
html,body {
    background: #000000;
    height: 100%;
}
a:-webkit-any-link,.link {
    text-decoration: none;
    color: #c9cacc;
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 100% 6px;
    background-image: linear-gradient(transparent, transparent 5px, #c9cacc 5px, #c9cacc);
}
